.headImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  text-align: center;
}

.container {
  margin-top: 10px;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.carousel-inner img {
  margin: auto;
  width: auto;
  height: auto;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.videoWrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoWrapper iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#navContent{
  background-color: #8bb174;
}

#navButton{
  background-color: #7fb069;
}
