.headImage{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

header h1{
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

nav li {
  inline-block:
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgb(150,150,150);
}

.navbar-nav.naverbar-center{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.carousel-inner img {
  margin:auto;
}
