#map{
height: 400px;
width: 960px;
margin: auto
}

.container {
  margin-top: 50px;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar.navbar-expand-lg, .card {
  background-color: #605F5E;;
}

body {
  background-color: #605F5E;
}
